Div {
  margin: auto;
  width: 100%;
  padding: 7px;
}

h1 {
  color:#c00;
  font-family:sans-serif;
  font-size:2em;
  margin-bottom:0;
}

img {
    width: 900px;
    display: block;
    margin: auto;
    }

table {
  font-family:sans-serif;
  border: black 3px solid;
  border-collapse: collapse;
  width:50%;
  margin:auto;
    }



/*
  td, th {
    text-align:center;
    padding:0em .0em;
    &:nth-child(2) {
      text-align:left;
    }
*/

td {
    background-color:#eee;
    text-align:center;
    padding:.2em .2em;
    }
th {
    background-color:#009;
    color:#fff;
    text-align:center;
    padding:.2em .5em;

    }

tr {
  border-collapse:separate;
  border-spacing:.25em 1em;
  tbody tr:nth-child(odd) {
    transform:rotate(2deg);
  }
  thead tr,
  tbody tr:nth-child(even) {
    transform:rotate(-2deg);
  }
}

}